@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.profile__container {
  width: 400px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .profile img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  cursor: pointer;
  border: 1px solid black;
  object-fit: cover;
  background-color: chocolate;
} */

.profile .profile__container .info {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align input and button in the center */
}

.profile .info input {
  width: 130%;
  margin: 15px 0;
  padding: 13px;
  border: 1px solid #a19d9d;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.profile button {
  margin: 15px 0;
  padding: 15px;
  width: 100%;
  background-color: rgb(72, 67, 67);
  color: #fff;
  font-size: 15px;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.profile button:hover {
  background-color: black;
}

/* .profile__container .image__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  cursor: pointer;
  border: 1px solid black;
  height: 60px;
  width: 60px;
  border-radius: 50%;
} */

/* .profile__container .image__container:hover {
  background-color: lightgray;
} */
/* 
.image__container .addimage {
  color: black;
  height: 30px;
  width: 30px;
} */

/* .image__container .addimage:hover {
  color: black;
} */

.selectedImage {
  border-radius: 50%;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.profile__container .image__container {
  cursor: pointer;
}

.image__container .addimage {
  border-radius: 50%;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
