.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.65;
  background-color: rgb(243, 105, 6);
  font-family: "Poppins", sans-serif;
  color: white;
  height: auto;
}

.welcome img {
  height: 200px;
  width: 200px;
}
