.error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(208, 147, 103);
}

.error h1 {
  font-size: 200px;
  color: chocolate;
}

.error span{
    font-size: larger;
    color: blue;
}